@import url("https://fonts.googleapis.com/css?family=Helvetica");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");
.body-med-14-pink{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #BF1C7F;
}

.body-med-14-white{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.body-med-14-white-secondary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
}

.body-med-14-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: rgba(26, 26, 26, 0.87);
}

.body-semi-14-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: rgba(26, 26, 26, 0.87);
}

.body-semi-14-purple-accent{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: var(--color);
}

.body-semi-14-white{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color:#FFFFFF;
}

.body-med-14-type-secondary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: rgba(26, 26, 26, 0.5);
}

.caption-med-12-pink{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #BF1C7F;
}

.caption-med-12-purple-accent{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--color);
}

.caption-med-12-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.87);
}

.caption-med-12-white{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.caption-med-12-white-secondary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.caption-med-12-type-secondary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.5);
}

.captionHead-semibold-12-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.87);
}

.captionHead-semibold-12-purple-accent{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: var(--color);
}

.captionHead-semibold-12-white{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.captionsec-reg-12-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.87);    
}

.headline-med-20-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(26, 26, 26, 0.87);
}

.headline-med-20-white{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF
}

.headline-med-20-white-secondary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.80)
}

.title1-med-28-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: rgba(26, 26, 26, 0.87);
}

.title1-med-28-white{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}

.header-title-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(26, 26, 26, 0.87);
}

.title2-med-22-white{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.menu-caption-type-primary{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: rgba(26, 26, 26, 0.87);
}

.cap2-med-12-type-primary{
    color: rgba(26, 26, 26, 0.87);
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: 500;
    line-height: 20px;
}

.cap2-med-12-white{
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: 500;
    line-height: 20px;
}

.cap1-bold-12-type-primary{
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: 700;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.87);
}

.cap1-bold-12-white{
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
}


.title2-med-22-type-primary{
    font-size: 22px;
    font-family: 'Helvetica';
    font-weight: 500;
    line-height: 30px;
    color: rgba(26, 26, 26, 0.87);
}

.header-bold-34-white{
    color: #FFFFFF;
    font-size: 34px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}

.form_label{
    color: rgba(26, 26, 26, 0.87);
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.form_label_active{
    color: var(--color);
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.form_value{
    color: rgba(26, 26, 26, 0.87);
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.form_value_active{
    color: var(--color);
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.dropdown_list_data{
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
    font-family: 'Helvetica';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.CTA-Button-Primary{
    width: 296px;
    height: 44px;       
    background: var(--color);
    border-radius: 6px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.04));
}

.CTA-Button-Secondary{
    width: 296px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.04));
}

.Primary-Action-Button{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.5px solid var(--color);
    border-radius: 4px;
}

.Secondary-Action-Button{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.5px solid rgba(26, 26, 26, 0.32);
    border-radius: 4px;
}

// Light Box

.LightBoxmodal {
    // display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999999;
    /* Sit on top */
    padding-top: 70px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.LightBox-content {
    display: inline-flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 98%;
    height: 98%;
    border-radius: 10px;
}

.LightBoxcloseicon {
    position: absolute;
    top: 29px;
    left: 1270px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    z-index: 9;
}


.tooltip{
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


/* Table Design */

.dbtable{
    width : 98%;
    margin-left:20px;
    position:relative;
    overflow: auto;
    //max-width: 1060px;
    max-height: 425px;
}

.Table{
    width: 100%;
}

.thead{
    position: relative;
    height: 40px;
    background: var(--color);    
}

.th{
    min-width: 100px;
    height: 20px;
    text-align: left;
    padding: 4px;
}

.tr{
    height: 36px;
    background-color: #F6F6F6;
}

.td{
    min-width: 100px;
    height: 20px;
    text-align: left;
    padding: 4px;
    font-weight: 500;
}

.color{
    background-color: #FFFFFF;
}

.dbtable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.dbtable::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.dbtable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color);
}
.dbtable::-webkit-scrollbar-thumb:hover {
    background: var(--color);
}