.btn-modulelist {
    outline-style: none;
  }
  
  .select-modulelist {
    outline-style: none;
  }
  
  
  .btn-modulelist {
    outline-style: none;
  }
  
  .select-modulelist {
    outline-style: none;
  }
  
  .apps {
  
    width: 21.33px;
    height: 21.33px;
    outline: none !important;
    color: #666666;
  }
  
  .apps:hover {
    color: #36454f;
  }
  
  .item {
    cursor: pointer;
  }
  
  
  .styled-table {
    height: 405px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    display: block;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .customize {
    height: 70%;
    background-color: blue;
  }
  
  
  .check {
    font-size: 11px;
  }
  
  .image {
    margin-left: 26px;
  }
  
  .Inven {
    margin-left: 24px;
  }
  
  .HRMS {
    margin-left: 29px;
  }
  
  .images {
    margin-left: 30px;
  }
  
  .styled-table td {
    width: 100px;
    cursor: pointer;
    font-weight: 500;
    padding-top: 12px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 5px 15px;
    margin-top: 20px;
  
  }
  
  .styled-table td:hover {
    background-color: #e9e9e9;
  }