@import url("https://fonts.googleapis.com/css?family=Montserrat");

  .ModuleList {
    //position: absolute;
    //margin-left: 110px;
    //top: 120px;
    display: grid;
    justify-content: center;
    height: 450px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .ModuleList span {
    display: inline-block;
    width: 108px;
    height: 108px;
    cursor: pointer;
    font-weight: 500;
    padding: 20px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 5px 15px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f6f6f6;
  }
  
  .check {
    display: inline-block;
    width: 85px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-left: -9px;
  }
  
  .image {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .Inven {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .HRMS {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .images {
    display: inline-block;
    margin-bottom: 5px;
  }

  .betweenspace1{
    display: inline-block;
    min-width:120px;
  }

  .betweenspace{
    display: inline-block;
    min-width:90px;
  }

  .betweenspace2{
    display: inline-block;
    min-width:150px;
  }

  .betweenspace3{
    display: inline-block;
    min-width:180px;
  }

  #leftbutton{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 7%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }

  #leftbutton1{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 7%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton1{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }

  #leftbutton2{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 7%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton2{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }

  #leftbutton3{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 8%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton3{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  
  #second{
    display: none;
  }

  #page2{
    display: none;
  }
  #page3{
    display: none;
  }

  #page12{
    display: none;
  }
  #page13{
    display: none;
  }

  #page22{
    display: none;
  }
  #page23{
    display: none;
  }

  #page24{
    display: none;
  }

  @media (min-width: 1350px) {
    #modulelist{
      display: block;
    }
    #forsix{
      display: block;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
  }

  @media (max-width: 1350px) {
    #modulelist{
      display: block;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: block;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
  }
  @media (max-width: 1170px) {
    #modulelist{
      display: block;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: block;
    }
    #forthree{
      display: none;
    }
  }

  @media (max-width: 1050px) {
    #modulelist{
      display: block;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: block;
    }
  }

  @media (max-width: 850px) {
    #modulelist{
      display: none;
    }
  }