@import './../../styles/_themes.scss';

footer {
  display: grid;
  grid-template-columns: auto 15%;
  white-space: nowrap;
  @include themeColors();

  #statusmessage {
    display: flex;
    text-align: left;
  }

  #toolbar {
    text-align: right;
  }
}
