$desktop: 840px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin guideline {
  border-style: solid;
  border-radius: 0px;
  border-color: black;
  border-width: 1px;
  // background-color: random-color();
  @content;
}

@function random-color(){
  @return rgb(random(255), random(255), random(255));
}

@mixin fullpage {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  @content;
}
