@import './../../../styles/_utilities.scss';

.container {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-areas: 'title actions ';
}

.title {
  // @include guideline();

  grid-area: title;
  display: flex;
  align-items: center;
}

.actions {
  grid-area: actions;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recent{
  margin-top: -7px;
}

@media (max-width: 1050px) {
  .container {
    display: grid;
    grid-template-columns:20% auto;
    grid-template-areas: 'title actions';
  
    .actions {
      grid-area: actions;
      display: flex;
      justify-content: flex-end;
      align-items: right;
    }
  }
}

@media (max-width: 950px) {
  .container {
    display: grid;
    grid-template-columns:20% auto;
    grid-template-areas: 'title actions';
   
    .actions {
      grid-area: actions;
      display: flex;
      justify-content: flex-end;
      align-items: right;
    }
  }
}

@media (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns:23% auto;
    grid-template-areas: 'title actions';
   
    .actions {
      grid-area: actions;
      display: flex;
      justify-content: flex-end;
      align-items: right;
    }
  }
}
@media (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns:23% auto;
    grid-template-areas: 'title actions';
   
    .actions {
      grid-area: actions;
      display: flex;
      justify-content: flex-end;
      align-items: right;
    }
  }
}

@media (max-width: 830px) {
  .container {
    display: grid;
    grid-template-columns:90% auto;
    grid-template-areas: 'title actions';
     .actions {
      grid-area: actions;
      display: flex;
      justify-content: flex-start;
      align-items: left;
    }
  }
}
@media (max-width: 750px) {
  .container {
    display: grid;
    grid-template-columns:90% auto;
    grid-template-areas: 'title actions';
     .actions {
      grid-area: actions;
      display: flex;
      justify-content: flex-start;
      align-items: left;
    }
  }
}

@media (max-width: 650px) {
  .container {
    display: grid;
    grid-template-columns:90% auto;
    grid-template-areas: 'title actions';
     .actions {
      grid-area: actions;
      display: flex;
      justify-content: flex-start;
      align-items: left;
    }
  }
}
