<!-- <div [style.display]="!change ? 'block' : 'none'" [ngClass]="themebackground=='Pink'? 'mon-quinary' : 'mon-secondary'" >
  <span class="mon-sixth heading">{{Module}}</span><br><br> -->
  <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node style="background-color: #F6F6F6;" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
      matTreeNodePaddingIndent="0">
      <span (mouseover)='over1(node)' (mouseout)='out1(node)'
        [ngClass]="node.expanded==true && node.clicked==true ? 'colors mon-sixth' : (node.expanded==false && (node.level%2)==0 ? 'colors mon-seventh':(node.expanded==false && (node.level%2)==1 ? 'colors mon-quinary':hovercolor))"
        style="width: 100%; cursor: pointer;" *ngIf="!node.children || node.children.length === 0">
        <span *ngIf="node.MenuType == 2; else forms">
          <button (click)="changebackground1(node)" mat-icon-button
            style="outline-style: none; padding-top: 10px; display: contents;"></button><span
            (click)="changebackground1(node)" [style.padding-left.px]="17 * (node.level+0.353)"
            class="caption-med-12-white text"
            (click)='selecteddata({Id: node.Id, View: node.DisplayName})'>{{node.DisplayName}}
            &nbsp;&nbsp;</span>
        </span>
        <ng-template #forms (mouseover)='over(node)' (mouseout)='out(node)'>
          <button (click)="changebackground1(node)" mat-icon-button
            style="outline-style: none; padding-top: 10px; display: contents"></button><span
            (click)="changebackground1(node)" [style.padding-left.px]="17 * (node.level+0.353)"
            class="caption-med-12-white text"
            (click)='selected({Path:node.WebFormSecondURL , Id:node.ListMenuId , View: node.DisplayName})'>{{node.DisplayName}}
            &nbsp;&nbsp;</span><br>
        </ng-template>
      </span>
    </mat-tree-node>

    <mat-tree-node style="color: white; width: 100%; background-color: #F6F6F6;"
      *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="0">
      <ng-container *ngIf="node.level==0; then level0"></ng-container>
      <div
        [ngClass]="node.expanded==true && node.clicked==true ? 'colors mon-seventh' : (node.expanded==true && node.clicked==false ? 'colors mon-seventh':'colors mon-quinary')"
        style="width: 100%;padding-top: 10px; height: 40px; padding-left: 10px;" *ngIf="(node.level%2)==1" class="level"
        (mouseover)='over(node)' (mouseout)='out(node)'>
        <button (click)="changebackground(node)" mat-icon-button
          style="outline-style: none; display: inline; float: right; top: -10px;" matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror" style="color: white;">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left' }}
          </mat-icon>
        </button>
        <span (click)="changebackground(node)" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name"
          [style.padding-left.px]="13 * node.level" class="caption-med-12-white nodenames">{{ node.DisplayName }}
          &nbsp;&nbsp;</span>
      </div>
      <div (mouseover)='over(node)' (mouseout)='out(node)'
        [ngClass]="node.expanded==true && node.clicked==true ? 'colors mon-quinary' : (node.expanded==true && node.clicked==false ? 'colors mon-quinary':'colors mon-seventh')"
        style="width: 100%;padding-top: 10px; height: 40px; padding-left: 10px;"
        *ngIf="(node.level%2)==0 && node.level!=0" class="level">
        <button (click)="changebackground(node)" mat-icon-button
          style="outline-style: none; display: inline; float: right; top: -10px;" matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror" style="color: white;">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left' }}
          </mat-icon>
        </button>
        <span (click)="changebackground(node)" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name"
          [style.padding-left.px]="13 * node.level" class="caption-med-12-white nodenames">{{ node.DisplayName }}
          &nbsp;&nbsp;</span>
      </div>
      <ng-template #level0>
        <div (mouseover)='over(node)' (mouseout)='out(node)' class="hover" style="width: 100%;"
          [ngClass]="node.expanded==true && node.clicked==true ? 'colors mon-sixth' : (node.expanded==true && node.clicked==false ? 'colors mon-sixth':'')">
          <button *ngIf="node.expanded==false" class="image" mat-icon-button style="outline-style: none;" matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name" (click)="changebackground(node)" (click)="menulist(node)">
            <img width="24px" height="24px" img src='{{ "assets/menutree/" + theme + "/" + node.DisplayName + ".png" }}' alt="" />
          </button>
          <button *ngIf="node.expanded==true" class="image" mat-icon-button style="outline-style: none;" matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name" (click)="changebackground(node)" (click)="menulist(node)">
            <img width="24px" height="24px" img src='{{ "assets/menutree/WHITE/" + node.DisplayName + ".png" }}' alt="" />
          </button>
          <span matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name"
            style="color: {{node.expanded==true ? 'white' : 'rgba(26, 26, 26, 0.87)'}}"
            class="captionHead-semibold-12-type-primary nodename" (click)="changebackground(node)" (click)="menulist(node)">{{ node.DisplayName
            }}
            &nbsp;&nbsp;</span>
          <div (click)="changebackground(node)" (click)="menulist(node)" mat-icon-button class="Menutreearrow" matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror"
              style="color: {{node.expanded==true ? 'white' : 'rgba(26, 26, 26, 0.5)'}}; padding-left: 12px;">
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left' }}
            </mat-icon>
          </div>
        </div>
      </ng-template>
    </mat-tree-node>

  </mat-tree> -->
  <!-- <div class="menutree" *ngFor="let item of dataSource.data">
    <div class="hover" (click)="menulist(item)" style="width: 200px;height: 44px; border-radius: 4px;display: flex;align-items: center;">
          <button class="image" mat-icon-button style="outline-style: none;">
            <img width="24px" height="24px" img src='{{ "assets/menutree/" + theme + "/" + item.DisplayName + ".png" }}' alt="" />
          </button>
          <button class="hoverimage" mat-icon-button style="outline-style: none;">
            <img width="24px" height="24px" img src='{{ "assets/menutree/WHITE/" + item.DisplayName + ".png" }}' alt="" />
          </button>
          <span 
            class="captionHead-semibold-12-type-primary nodename" >{{ item.DisplayName}}
            &nbsp;&nbsp;
          </span>
    </div>
  </div>
</div> -->
