
  <div *ngIf="viewmode=='Reports'" [ngClass]="themeClass$ | async">
    <button class="expand"mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>expand_more</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <div class="colors thm-primary">
          <span mat-menu-item class="viewlist" (click)='selectedview({Id: values.ReportViewId, View: values.ReportViewType , SecondTemplateLocation: values.SecondTemplateLocation,ViewName: values.ReportViewName , TemplateLocation: values.TemplateLocation})' *ngFor="let values of viewtypes">{{ values.ReportViewName }}</span>
        </div>
      </mat-menu>
  </div>
  
