$thisTheme: (
  // General Settings
  general: (
    name: 'Pink',
  ),

  // Color Settings
  colors: (
    basecolor: rgb(253, 146, 164), // Main Color (blue, #8333d8, hsl(220, 100, 50))
    palette: (
      harmonysettings: (
        mon: (
          noofcolors: 5,  // 1-5
          stepby: 10%
        ),
        rot: (
          noofcolors: 10,  // 1-10
          stepby: 60
        ),
      ),
      harmonies: ( // This would be auto generated (har-primary, (mon-primary, mon-secondary, mon-tertiary, ...), (ana-primary, ana-secondary, ana-tertiary, ...)), should be overridable and extendable (ref: https://www.canva.com/colors/color-wheel/)
        // mon-eleventh: red,
      ),
      base: (
        background: pink,
        text: black,
        col-primary: (colors palette basecolor),
        col-secondary: (colors palette harmonies ana-secondary),
        col-warn: orange,
        col-error: red,
      ),
      text: (
          /*the threshold at which colors are considered "light".
          Range: integers from 0 to 100,
          recommended 50 - 70 */
          threshold: 70,
          forLightColor: black,
          forDarkColor: white,
      ),
    ),
  ),
  modes: (
    mild: (
      settings: (
        delta: -25%,
        // background: lightgrey,
        // text: rgb(41, 41, 41),
      ),
    // col-primary: (colors palette harmonies har-primary)
    ),
    contrast: (
      settings: (
        delta: 25%,
        // background: rgb(41, 41, 41),
        // text: lightgrey,
      ),
    // col-primary: red,
    )
  ),

  // Typography Setting
  typography: (),

  // Any framework specific settings should go here
  _fwksettings: (
    material: ()
  )
);

$call:initTheme();
@include GBTheme();

// @debug $thisTheme;
