// @import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

// ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
//     background-color:var(--color) !important
// }

// ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
//     border-color: rgba(26, 26, 26, 0.5) !important
// }

// ::ng-deep .mat-radio-label-content{
//     color: rgba(26, 26, 26, 0.87);
//     font-family: "Helvetica";
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 700;
//     padding-top: 3px;
// }