<!-- <mat-radio-group [formControl]='gbControl'>
  <span  *ngFor='let val of Field.PickLists'>
 <mat-radio-button style="margin-left: 100px;" [value]='val.key' >{{val.value}}</mat-radio-button>&nbsp;&nbsp;
</span>
</mat-radio-group> -->
<span class="form_value" style="width: 180px;" *ngIf="isreadable==false">{{defaultvalue.value}}</span>
<table *ngIf="isreadable==true" class="styled-table" style="display: inline;">
  <tbody style="display: block;padding-top: 5px;">
    <tr>
          <mat-radio-group (change)="onRadioButtonChange($event)">
            <span *ngFor='let val of picklistdata'>
              <td style="width: 150px; padding-right: 8px;">
                <mat-radio-button class="form_value" [checked]="checkedid == val.key ? true : false" [value]='val.key'>{{val.value}}</mat-radio-button>&nbsp;&nbsp;
              </td>
            </span>
          </mat-radio-group>
    </tr>
  </tbody>
</table>

