@import './../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.mobilefilter{
  justify-content: center;
  display: none;
}

.filterbutton{
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 48px;
  background: #FFFFFF;
  position: relative;
  display: inline-flex;
  top: -16px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  outline-style: none;
}

.title{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 10px;
  background-color: #FFFFFF;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.caption-med-12-type-primary{
  font-weight: 700;
}

.closeicon {
  width: 935px;
  display: flex;
  justify-content: right;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: -35px;
}

.AF {
  margin-left: 7px;
}

.applybtn {
  width: 120px;
  height: 34px;
  outline-style: none;
  margin-left: 110px;
  color: white;
  border-radius: 4px;
  background-color: #09926D;
}

.closebtn {
  width: 120px;
  height: 34px;
  margin-left: 10px;
  border-radius: 4px;
  color: white;
  background-color: #E3170A;
}

.applymobilebtn {
  width: 120px;
  height: 34px;
  outline-style: none;
  color: white;
  border-radius: 4px;
  background-color: #09926D;
}

.closemobilebtn {
  width: 120px;
  height: 34px;
  margin-left: 10px;
  border-radius: 4px;
  color: white;
  background-color: #E3170A;
}

/* Modal Content */
.modal-content {
  justify-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 20px 20px;
  border: 1px solid #888;
  width: 960px;
  height: 500px;
  border-radius: 10px;
}

#myBtn {
  cursor: pointer;
}

.datebtn {
  width: 120px;
  height: 34px;
  margin-right: 5px;
  color: rgba(26, 26, 26, 0.87);
  background-color: #F6F6F6;
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important;
}

.filterbtn {
  width: 120px;
  height: 34px;
  margin-right: 5px;
  color: rgba(26, 26, 26, 0.87);
  background-color: #F6F6F6;
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important;
}

.reportbtn {
  margin-right: 5px;
  width: 120px;
  height: 34px;
  color: rgba(26, 26, 26, 0.87);
  background-color: #F6F6F6;
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important;
}

.configbtn {
  width: 120px;
  height: 34px;
  color: rgba(26, 26, 26, 0.87);
  background-color: #F6F6F6;
  margin-right: 60px;
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important ;
}

.activedatebtn {
  width: 120px;
  height: 34px;
  margin-right: 5px;
  color: #FFFFFF;
  background-color: var(--color);
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important;
}

.activefilterbtn {
  width: 120px;
  height: 34px;
  margin-right: 5px;
  color: #FFFFFF;
  background-color: var(--color);
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important;
}

.activereportbtn {
  margin-right: 5px;
  width: 120px;
  height: 34px;
  color: #FFFFFF;
  background-color: var(--color);
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important;
}

.activeconfigbtn {
  width: 120px;
  height: 34px;
  color: #FFFFFF;
  background-color: var(--color);
  margin-right: 60px;
  border-radius: 4px;
  outline-style: none;
  box-shadow: none !important;
}

.datebtn:hover{
  background-color: var(--color);
  color: #FFFFFF;
}

.filterbtn:hover{
  background-color: var(--color);
  color: #FFFFFF;
}

.reportbtn:hover{
  background-color: var(--color);
  color: #FFFFFF;
}

.configbtn:hover{
  background-color: var(--color);
  color: #FFFFFF;
}

.periodtable{
  display: block;
}

.periods {
  display: block;
  float: left;
  //margin-left: 20px;
}

.period {
  float: left;
  width: 80px;
  margin-left: 16px;
  outline-style: none;
}

.dateperiod {
  float: left;
  margin-top: -10px;
  outline-style: none;
}

#PurchaseFromDate::ng-deep.mat-icon-button{
  padding-left: 7px;
  outline-style: none !important;
}

#datepicker2::ng-deep.mat-icon-button{
  padding-left: 7px;
  outline-style: none !important;
}

::ng-deep.mat-calendar-table-header th{
    font-weight: 500;
    color: black;
    font-size: 14px;
}

::ng-deep.mat-calendar-body-label{
  color: black !important;
}

.periodfloat{
  height: 30px;
  width: 150px;
  display: inline-flex;
  align-items: center;
  accent-color: var(--color);
}

.periodfloats{
  height: 30px;
  width: 60px;
  display: inline-flex;
  align-items: center;
  accent-color: var(--color);
}

.selection{
  margin-left: 36px;
}

.radiobutton{
  width: 20px;
  height: 20px;
}

.months {
  margin-right: 16px;
  outline-style: none;
}

.years {
  margin-right: 16px;
  outline-style: none;
}

.Records {
  height: 30px;
  outline-style: none;
  border-bottom: 1px solid rgb(207, 202, 202);
  width: 296px;
}


#dateform {
  display: none;
}

#Reportform {
  display: none;
}

#Configrationform {
  display: none;
}

::placeholder{
  color: rgba(26, 26, 26, 0.87);
  font-family: 'Helvetica';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.whitecolor{
  background-color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding-left: 15px;
  margin-left: 4px;
}

.graycolor{
  background-color: #F7F7F7;
  padding-left: 15px;
  margin-left: 4px;
}

.input{
  width: 400px;
  outline-style: none;
}

.option {
  height: 40px;
  outline-style: none;
  width: 400px;
}

.Configrationoption {
  outline-style: none;
  border-bottom: 1px solid rgb(207, 202, 202);
  width: 296px;
  height: 30px;
}

.reportoption {
  border-bottom: 1px solid rgb(207, 202, 202);
  width: 240px;
  height: 30px;
}

.savebtn {
  width: 120px;
  background: #FFFFFF;
  color: var(--color);
  border: 0.5px solid var(--color);
  border-radius: 4px;
  box-shadow: none !important;
}

.delbtn {
  width: 120px;
  background: #FFFFFF;
  color: var(--color);
  border: 0.5px solid var(--color);
  border-radius: 4px;
  box-shadow: none !important;
}

.ab {
  overflow-y: auto;
  width: 100%;
  height: 333px;
  margin: 5px;
}

.ab::-webkit-scrollbar {
  cursor: pointer;
  height: 4px;
  width: 4px;
}

.ab::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

.ab::-webkit-scrollbar-thumb {
  background: var(--color);
}

.ab::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

.filtertable {
  width: 100%;
  padding-left: 12px;
  padding-right: 5px;
}

.box{
  background-color: #F7F7F7;
  padding-left: 12px;
  padding-right: 5px;
}

.boxes{
  text-align: left;
  padding-left: 30px; 
}

.ifAdvance {
  outline-style: none;
  width: 75px;
  margin-right: 10px;
}

// @media (max-width: 450px) {
//   .filterbutton{
//     border-radius: 0px;
//     justify-content: center;
//     height: 24px;
//     width: 24px;
//     background: transparent;
//     position: relative;
//     display: inline-flex;
//     top: 0px;
//     box-shadow: none;
//     outline-style: none;
//     margin-right: 16px;
//   }
// }

::ng-deep.mat-select{
  font-family: "Helvetica" !important;
}

::ng-deep.mat-option-text{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
  width: 2px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-track {
  background: #F7F7F7;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 4px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb:hover {
  background: var(--color);
  border-radius: 4px;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #FFFFFF !important;
  border-radius: 4px !important;
  background-color: var(--selectcolor) !important;
}

::ng-deep .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
  color: #FFFFFF !important;
  border-radius: 4px !important;
  background-color: var(--color) !important;
}

::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.87);
}

@media (max-width: 965px){
  .title{
    margin-left: 10px;
  }

  .mobilefilter{
    display: flex;
  }
  .ab{
    height: 315px;
    width: 98%;
  }
  .modal-content {
    width: 360px;
  }
  .applybtn{
    display: none !important;
  }
  .closebtn{
    display: none !important;
  }
  .closeicon{
    width: 352px;
  }
  .datebtn {
    width: 80px;
    margin-right: 0px;
    border-radius: 0px;
  }
  
  .filterbtn {
    width: 80px;
    margin-right: 0px;
    border-radius: 0px;
  }
  
  .reportbtn {
    width: 80px;
    margin-right: 0px;
    border-radius: 0px;
  }
  
  .configbtn {
    width: 115px;
    margin-right: 0px;
    border-radius: 0px;
    padding: unset;
  }
  
  .activedatebtn {
    width: 80px;
    margin-right: 0px;
    border-radius: 0px;
    background-color: #F6F6F6;
    color: var(--color);
  }

  .activedatebtn span{
    display: inline-block;
    height: 34px;
    border-bottom: 1px solid var(--color);
  }
  
  .activefilterbtn {
    width: 80px;
    margin-right: 0px;
    border-radius: 0px;
    background-color: #F6F6F6;
    color: var(--color);
  }

  .activefilterbtn span{
    display: inline-block;
    height: 34px;
    border-bottom: 1px solid var(--color);
  }
  
  .activereportbtn {
    width: 80px;
    margin-right: 0px;
    border-radius: 0px;
    background-color: #F6F6F6;
    color: var(--color);
  }

  .activereportbtn span{
    display: inline-block;
    height: 34px;
    border-bottom: 1px solid var(--color);
  }
  
  .activeconfigbtn {
    width: 100px;
    margin-right: 0px;
    padding: unset;
    border-radius: 0px;
    background-color: #F6F6F6;
    color: var(--color);
  }

  .activeconfigbtn span{
    display: inline-block;
    height: 34px;
    border-bottom: 1px solid var(--color);
  }

  .datebtn:hover{
    background-color: #F6F6F6;
    color: rgba(26, 26, 26, 0.87);;
  }

  .datebtn span{
    display: inline-block;
    height: 34px;
  }

  .datebtn span:hover{
    display: inline-block;
    height: 34px;
    color: var(--color);
    border-bottom: 1px solid var(--color);
  }
  
  .filterbtn:hover{
    background-color: #F6F6F6;
    color: rgba(26, 26, 26, 0.87);
  }

  .filterbtn span{
    display: inline-block;
    height: 34px;
  }

  .filterbtn span:hover{
    display: inline-block;
    height: 34px;
    color: var(--color);
    border-bottom: 1px solid var(--color);
  }
  
  .reportbtn:hover{
    background-color: #F6F6F6;
    color: rgba(26, 26, 26, 0.87);
  }

  .reportbtn span{
    display: inline-block;
    height: 34px;
  }

  .reportbtn span:hover{
    display: inline-block;
    height: 34px;
    color: var(--color);
    border-bottom: 1px solid var(--color);
  }
  
  .configbtn:hover{
    background-color: #F6F6F6;
    color: rgba(26, 26, 26, 0.87);
  }

  .configbtn span{
    display: inline-block;
    height: 34px;
  }

  .configbtn span:hover{
    display: inline-block;
    height: 34px;
    color: var(--color);
    border-bottom: 1px solid var(--color);
  }

  .periodfloats{
    width: 150px;
  }

  .periodtable{
    margin-left: 20px;
  }

  .periods {
    display: none;
  }

  .monthperiod{
    display: flex;
    justify-content: center;
  }

  .modal-content{
    padding: 20px 1px;
  }

  .Configrationoption {
    margin-left: 20px;
  }

  .Records {
    margin-top: 36px;
    margin-left: 20px;
  }

  .savebtn {
    margin-left: 50px;
  }

  .option {
    width: 290px;
  }

  .input {
    width: 290px;
  }
}