<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<div class="form-group">

  <ng-template *ngIf="ReadOnly===false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker1" placeholder="{{Field?.Placeholder}}" [formControl]="gbControl"
      [min]="minDate" [max]="maxDate" [disabled]="disabled">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
      [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
      [enableMeridian]="enableMeridian">
    </ngx-mat-datetime-picker>
    <mat-error *ngIf="gbControl.hasError('email') && !gbControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="gbControl.hasError('pattern') && !gbControl.hasError('required')">
      Please enter a valid data
    </mat-error>
    <mat-error *ngIf="gbControl.hasError('required')">
      {{Field?.Label}} is <strong>required</strong>
    </mat-error>
    <mat-hint>{{Field?.Tooltip}}</mat-hint>
  </mat-form-field>
  </ng-template>

</div> -->
