$thisTheme: (
  // General Settings
  general: (
    name: 'Blue',
  ),

  // Color Settings
  colors: (
    basecolor: #2D6ADF, // Main Color (blue, #8333d8, hsl(220, 100, 50))
    palette: (
      harmonysettings: (
        mon: (
          noofcolors: 5,  // 1-5
          stepby: 10%
        ),
        rot: (
          noofcolors: 10,  // 1-10
          stepby: 60
        ),
      ),
      harmonies: ( // This would be auto generated (har-primary, (mon-primary, mon-secondary, mon-tertiary, ...), (ana-primary, ana-secondary, ana-tertiary, ...)), should be overridable and extendable (ref: https://www.canva.com/colors/color-wheel/)
        // mon-eleventh: red,
      ),
      base: (
        background: #2D6ADF,
        text: #2D6ADF,
        col-primary: (colors palette basecolor),
        col-secondary: (colors palette harmonies ana-secondary),
        col-warn: orange,
        col-error: red,
      ),
      text: (
          /*the threshold at which colors are considered "light".
          Range: integers from 0 to 100,
          recommended 50 - 70 */
          threshold: 70,
          forLightColor: #2D6ADF,
          forDarkColor: #2D6ADF,
      ),
    ),
  ),
  modes: (
    light: (
      settings: (
        saturation: -25,
        // background: lightgrey,
        // text: rgb(41, 41, 41),
      ),
    // col-primary: (colors palette harmonies har-primary)
    ),
    dark: (
      settings: (
        saturation: 25,
        // background: rgb(41, 41, 41),
        // text: lightgrey,
      ),
    // col-primary: red,
    )
  ),

  // Typography Setting
  typography: (
    families: (),
    fonts: (
      base: (
        family: mono
      )
    )
  ),

  // Any framework specific settings should go here
  _fwksettings: (
    material: (
      // primary: $mat-green,
      // accent: $mat-blue,
      // warn: $mat-red,
      modes: (
        night: (
          type: dark,
        ),
      ),
    )
  )
);

$call:initTheme();
@include GBTheme();

// @debug $thisTheme;
