.nav{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-top: 3px;
    cursor: pointer;
}

.github{
    position: absolute;
    display: inline-block;
    top: 17px;
    //left: 39px;
    width: 100px;
    height: 40px;
    left: 60px;
}

@media (max-width: 355px) {
    .github{
        display: none;
    }
}