@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
// #FormReportHeader{
//     container-type: inline-size;
// }
.caption-med-12-type-primary{
    font-weight: 700;
    line-height: 36px;
}
.span{
    width:100%;
}

.moveNext{
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 48px;
    height: 28px;
}
.movePrev{
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 48px;
    height: 28px;
}

.pagination{
    position: relative;
    top: -19px;
    margin-right: 24px;
}

.pagebutton{
    margin: 0px 3px;
    width: 48px;
    height: 28px;
    font-size: 16px;
    outline-style: none;
}

.pagenumber{
    color: #6E3AB6;
    font-family: 'Helvetica';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-right: 16px;
}

.delete{
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 28px;
}
.edit{
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 28px;
    color: var(--color) !important;
}
.save{
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 28px;
}

.text{
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 28px;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab{
    color: unset;
}

.save::ng-deep.material-icons{
    font-size: 18px !important;
}

.save::ng-deep.mat-icon{
    height: 20px;
}

.text::ng-deep.material-icons{
    font-size: 18px !important;
}

.text::ng-deep.mat-icon{
    height: 20px;
}

.edit::ng-deep.material-icons{
    font-size: 18px !important;
}

.edit::ng-deep.mat-icon{
    height: 20px;
}

.delete::ng-deep.material-icons{
    font-size: 18px !important;
}

.delete::ng-deep.mat-icon{
    height: 20px;
}

.more{
    top: -14px;
    position: relative;
    outline-style: none;
}

.viewlist{
    top: -16px;
    width: 48px;
    height: 28px;
    border-radius: 5px;
    outline-style: none;   
}

.viewdata{
    padding-top: 13px;
}

.vert{
    top: -20.5px;
    right: 8px;
    border-radius: 5px;
    outline-style: none;
    margin-left: 16px;
    height: 28px;
    width: 48px;
}

.menudata{
    color: rgb(27,27,27,0.87);
}

::ng-deep .mat-menu-item .mat-icon-no-color,  .mat-menu-item-submenu-trigger::after{
    color: unset !important;
}

.menudata:hover{
    border: none !important;
    color: #FFFFFF !important;
}

::ng-deep.mat-raised-button.mat-button-disabled.mat-button-disabled{
    background-color: rgb(26,26,26,0.1) !important;
}

::ng-deep.mat-raised-button{
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    padding: 0px;
}

::ng-deep .mat-menu-item:hover:not([disabled]),
 .mat-menu-item.cdk-program-focused:not([disabled]),
 .mat-menu-item.cdk-keyboard-focused:not([disabled]),
 .mat-menu-item-highlighted:not([disabled]) {
    background-color: var(--color) !important;
    color: #FFFFFF !important;
}

.FormBtns{
    width: max-content;
    position: relative;
}

.ReportIcon {
    display:none
}

// @media (min-width: 451px) {
//     .ReportIcon {display:none}
//     .ReportBtns {display:inline-block}
//   }
  
// @media (max-width: 450px) {
//     .ReportIcon {display:inline-block}
//     .ReportBtns {display:none}
//   }

  @media (max-width: 1070px) {
    .FormBtns{
        left: -40px;
    }
  }

  @media (max-width: 1040px) {
    .FormBtns{
        left: -75px;
    }
  }

  @media (max-width: 1120px) {
    // .FormBtns{
    //     //left: -150px;
    // }
  }

  @media (max-width: 1040px) {
    // .FormBtns{
    //     //left: -200px;
    // }
  }

//   @media (max-width: 980px) {
//     .FormBtns{
//         left: -225px;
//     }
//   }

  @media (min-width: 971px) {
    .FormIcon {display:none}
    .FormBtns {display:inline-block}
  }
  
@media (max-width: 970px) {
    .FormIcon {display:inline-block}
    .FormBtns {display:none}
  }

//   @media (max-width: 830px) {
//     .icon {display:inline-block}
//     .btns {display:none}
//   }

//   @media (min-width: 831px) and (max-width: 1200px){ 
//     .btns{
//          margin-left:-10%;
//          display: flex;
//          align-items: flex-end;    
//     }
//   }