<!-- <form [formGroup]="form">
  <mat-select class="captionHead-semibold-12-type-primary" formControlName="Picklistvalues">
    <mat-option class="captionHead-semibold-12-type-primary"  *ngFor="let data of pickilisdata" [value]="data.key">
      {{data.value}}
    </mat-option>
  </mat-select>
</form> -->
<span class="form_value" style="width: 180px;" *ngIf="isreadable==false">{{defaultvalue.value}}</span>
<mat-select *ngIf="isreadable==true" style="width: 180px;" class="form_value" [(value)]="picklistid" (selectionChange)="change($event.value)">
<mat-option class="dropdown_list_data" *ngFor="let data of picklistdata;"
    [value]="data.key">{{data.value}}
</mat-option>
</mat-select>