<button [matMenuTriggerFor]="claimsmenu" mat-icon-button class="btn-menulist"> <img src="assets/icons/DashBoard.png"
        style="margin-top: 0px;margin-right: 20px;" width="32px" height="32px"></button>
    <mat-menu #claimsmenu="matMenu" class="item" style="align-items: center;" border="thick solid #0000FF" [overlapTrigger]="false">

        <button mat-menu-item class="items" >
            <span routerLinkActive="active" [routerLink]="'GoodBooks/Dashboard'">Dashboard</span>

        </button>
        <button mat-menu-item class="items">

            <span >Mail</span>

        </button>
        <button mat-menu-item class="items"> 

            <span >Search</span>

        </button>
        <button mat-menu-item class="items">

            <span >Approval</span>

        </button>
        <button mat-menu-item class="items">

            <span >Late Arrival</span>
        </button>
        <button mat-menu-item class="items">

            <span >ATT</span>

        </button>
    </mat-menu>