<div id="layout" class="theme" [ngClass]="themeClass$ | async">
  <app-gbappheader class="thm"></app-gbappheader>
  <main>
    <mat-drawer-container #sbcontainer class="sidebarcontainer" autosize>
      <mat-drawer
        #leftdrawer
        class="leftsidebar mon-quinary"
        mode="side"
        [opened]="true"
      >
      <div class="leftmenu mon-quinary"> 
        <!-- <input
          type="checkbox"
          #menupin
          [checked]="leftsidebarPinned$ | async"
          (change)="toggleMenuPin(menupin.checked)"
        /> -->
        <!-- <app-nav></app-nav> -->
        <app-gbappsidebar></app-gbappsidebar>
      </div>
      </mat-drawer>

    <!-- <div class="maincontent">
      <section id="content"> -->
        <app-gbmaincontent></app-gbmaincontent>
      <!-- </section>
    </div> -->

  </mat-drawer-container>
  </main>
  <app-gbappfooter class="mainfooter"></app-gbappfooter>
</div>


