.localcontainer {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-areas:
  "formHeader"
  // "formToolbar"
  "maincontent"
  ;
  height: 100%;
  overflow-x: hidden;
  background-color: white;
}

section#formHeader {
  grid-area: formHeader;
  margin: 2px;
  padding: 5px;
  background-color: #F7F7F7;
}

section#formToolbar {
  grid-area: formToolbar;
  margin: 2px;
  padding: 5px;
}

section#maincontent {
  grid-area: maincontent;
  // padding-left: 10px;
  width:100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

::-webkit-scrollbar-thumb {
  background: var(--color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}