<div class="theme" [ngClass]="theme$ | async">
<nav>
  <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
  </ul>
<br/>
  <button
  type="button"
  mat-button
  (click)="openContext()"
>
  Open Right
</button>

</nav>
</div>
