@import url("https://fonts.googleapis.com/css?family=Helvetica");
.search {
    width: 300px;
    //left: 50px;
    height: 40px;
    margin-right: -15px;
    display: grid;
    grid-template-columns: 90% auto;
    grid-template-areas: 'Startsearch icon';
    background-color: #FFFFFF;
    
    .Startsearch {
      grid-area: Startsearch;
      width: 275px;
      height: 30px;
      font-size: 14px;
      color:rgb(26,26,26,0.87);
      font-family: 'Helvetica';
      font-weight: 500;
      margin-top: 5px;
      margin-left: 10px;
      background-color:#FFFFFF;
      border:1px solid #FFFFFF;
      border-radius: 2px !important;
      outline: none !important;
      outline-style: none !important;
      box-shadow: none !important;
    }
  
    .icon{
      grid-area: icon;
      width: 16px;
      margin-top: 11px;
      margin-left: 0px;
      color:rgba(26, 26, 26, 0.5);
    }
  }
  ::placeholder {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: var(--color);
    //opacity: 10; /* Firefox */
  }
  
 @media (max-width: 1300px) {
  .search{
    width: 240px;
  }
  .Startsearch{
    width: 220px !important;
  }
 }

  @media only screen and (max-width: 912px) {
    .search{
      width: 200px;
    }
    .Startsearch{
      width: 190px !important;
    }
    
  }