<section class="search" [ngClass]="theme$ | async">
        <input type="text" class="Startsearch font-semibold" placeholder="Start Searching...">
        <a class="database"><img class="icon" src='{{"assets/SearchIcon/"+ search +".png"}}'></a>
</section>
