<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<div class="form-group">

  <ng-template *ngIf="ReadOnly===false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <mat-form-field class="gb-input" [appearance]="appearance" [floatLabel]="floatLabel">
      <mat-label>{{Field?.Label}}</mat-label>
      <input #input matInput [matDatepicker]="picker1" [formControl]='gbControl' name={{Field?.Name}} type=text
        placeholder="{{Field?.Placeholder}}" min={{Field?.MinValue}}
        max={{Field?.MaxValue}} [readonly]='ReadOnly'>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="gbControl.hasError('email') && !gbControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="gbControl.hasError('pattern') && !gbControl.hasError('required')">
        Please enter a valid data
      </mat-error>
      <mat-error *ngIf="gbControl.hasError('required')">
        {{Field?.Label}} is <strong>required</strong>
      </mat-error>
      <mat-hint>{{Field?.Tooltip}}</mat-hint>
    </mat-form-field>
  </ng-template>

</div> -->
