@import '@angular/material/_theming.scss';
@import './sidnavetheme.scss';
@include mat-core();

$mat-theme-ignore-duplication-warnings: true;

@function initMatTheme() {
  @return true;
}

@function convertToMaterialMap($color) {
  @if not $color { @return null; }
  @if is-map($color) { @return $color; }
  @if is-color($color) { @return generateColorMap($color); }
  @error 'Invalid value `#{$color}`';
}

@function generateColorMap($color) {
  $retMap: (
    50: lighten($color, 52%),
    100: lighten($color, 37%),
    200: lighten($color, 26%),
    300: lighten($color, 12%),
    400: lighten($color, 6%),
    500: $color,
    600: darken($color, 6%),
    700: darken($color, 12%),
    800: darken($color, 18%),
    900: darken($color, 24%),
    A100: saturate(lighten($color, 50%), 30%),
    A200: saturate(lighten($color, 30%), 30%),
    A400: saturate(lighten($color, 10%), 15%),
    A700: saturate(lighten($color, 5%), 5%),
  );

  @if not mapHasKey($retMap, contrast) { $retMap: mapSet($retMap, contrast, ()) };
  @each $key, $value in $retMap {
    @if $key != 'contrast' {
      $retMap: mapSet($retMap, contrast $key, getTextColor($value));
    }
  }

  @return $retMap;
}
@function generateColorMapTest01() {
  $mat-indigo-for-compare: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
  );
  @debug "-------------------------------------";
  @debug "-------------------------------------";
  $color: #3f51b5;
  @debug color2hsl($color);
  @each $key, $value in $mat-indigo-for-compare {
    @debug $key $value color2hsl($value);
  }
  @debug lighten($color, 9%);
  @debug lighten($color, 19%);
  @debug lighten($color, 29%);
  @debug "-------------------------------------";
}
@function generateColorMapTest02() {
  // $algorithm can be T - Traditional, C - Constantin, B - Buckner

  // switch ($rootScope.settings.algorithm) {
		// 	case 'constantin':
		// 		var baseLight = tinycolor('#ffffff');
		// 		var baseDark = $scope.multiply(tinycolor(hex).toRgb(), tinycolor(hex).toRgb());
		// 		var baseTriad = tinycolor(hex).tetrad();
		// 		return [
		// 			getColorObject(tinycolor.mix(baseLight, hex, 12), '50'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 30), '100'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 50), '200'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 70), '300'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 85), '400'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 100), '500'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 87), '600'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 70), '700'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 54), '800'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 25), '900'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[4], 15).saturate(80).lighten(65), 'A100'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[4], 15).saturate(80).lighten(55), 'A200'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[4], 15).saturate(100).lighten(45), 'A400'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[4], 15).saturate(100).lighten(40), 'A700')
		// 		];

		// 	case 'buckner':
		// 		var baseLight = tinycolor('#ffffff');
		// 		var baseDark = $scope.multiply(tinycolor(hex).toRgb(), tinycolor(hex).toRgb());
		// 		var baseTriad = tinycolor(hex).tetrad();

		// 		return [
		// 			getColorObject(tinycolor.mix(baseLight, hex, 12), '50'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 30), '100'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 50), '200'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 70), '300'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 85), '400'),
		// 			getColorObject(tinycolor.mix(baseLight, hex, 100), '500'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 87), '600'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 70), '700'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 54), '800'),
		// 			getColorObject(tinycolor.mix(baseDark, hex, 25), '900'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[3], 15).saturate(80).lighten(48), 'A100'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[3], 15).saturate(80).lighten(36), 'A200'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[3], 15).saturate(100).lighten(31), 'A400'),
		// 			getColorObject(tinycolor.mix(baseDark, baseTriad[3], 15).saturate(100).lighten(28), 'A700')
		// 		];

		// 	default:
		// 		return [
		// 			getColorObject(tinycolor(hex).lighten(52), '50'),
		// 			getColorObject(tinycolor(hex).lighten(37), '100'),
		// 			getColorObject(tinycolor(hex).lighten(26), '200'),
		// 			getColorObject(tinycolor(hex).lighten(12), '300'),
		// 			getColorObject(tinycolor(hex).lighten(6), '400'),
		// 			getColorObject(tinycolor(hex), '500'),
		// 			getColorObject(tinycolor(hex).darken(6), '600'),
		// 			getColorObject(tinycolor(hex).darken(12), '700'),
		// 			getColorObject(tinycolor(hex).darken(18), '800'),
		// 			getColorObject(tinycolor(hex).darken(24), '900'),
		// 			getColorObject(tinycolor(hex).lighten(50).saturate(30), 'A100'),
		// 			getColorObject(tinycolor(hex).lighten(30).saturate(30), 'A200'),
		// 			getColorObject(tinycolor(hex).lighten(10).saturate(15), 'A400'),
		// 			getColorObject(tinycolor(hex).lighten(5).saturate(5), 'A700')
		// 		];
		// }

}

@mixin BaseMatThemeVariables {
}

@mixin MatModeVariables($mode) {
  $themeName: getThemeSetting(general name);
  $settingsMap: getThemeSetting(_fwksettings material);
  $modeType: light;
  @if $mode == 'dark' or $mode == 'light' { $modeType: $mode; }
  // @debug $settingsMap;
  @if $settingsMap {
    // Theme default colors
    $background: getThemeSetting(colors background surface);
    // $text: mapGet($settingsMap, text, $text);
    $primary: convertToMaterialMap(getThemeSetting(colors background primary));
    $accent: convertToMaterialMap(getThemeSetting(colors background secondary));
    $warn: convertToMaterialMap(getThemeSetting(colors background warn));

    // Theme mode colors
    $background: getThemeSetting(modes $mode colors background surface, $background);
    // $text: mapGet($settingsMap, text, $text);
    $primary: convertToMaterialMap(getThemeSetting(modes $mode colors background primary, $primary));
    $accent: convertToMaterialMap(getThemeSetting(modes $mode colors background secondary, $accent));
    $warn: convertToMaterialMap(getThemeSetting(modes $mode colors background warn, $warn));

    // Material Default Colors
    $background: mapGet($settingsMap, surface, $background);
    // $text: mapGet($settingsMap, text, $text);
    $primary: convertToMaterialMap(mapGet($settingsMap, primary, $primary));
    $accent: convertToMaterialMap(mapGet($settingsMap, accent, $accent));
    $warn: convertToMaterialMap(mapGet($settingsMap, warn, $warn));

    // Material Mode Colors
    $modeMap: mapGet($settingsMap, modes $mode);
    @if $modeMap {
      $modeType: mapGet($settingsMap, modes $mode type, $modeType);

      $background: mapGet($settingsMap, modes $mode surface);
      // $text: mapGet($settingsMap, modes $mode text) };
      $primary: convertToMaterialMap(mapGet($settingsMap, modes $mode primary, $primary));
      $accent: convertToMaterialMap(mapGet($settingsMap, modes $mode accent, $accent));
      $warn: convertToMaterialMap(mapGet($settingsMap, modes $mode warn, $warn));
    }


    // Convert to mat palette & mat-theme
    $primary: mat-palette($primary);
    $accent:  mat-palette($accent);
    $warn:    mat-palette($warn);

    $themeSettings:   (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      )
    );
    $theme: ();
    $light-theme: mat-light-theme($themeSettings);
    $dark-theme: mat-dark-theme($themeSettings);
    @if $modeType == 'light' or $mode == 'light' {
      $theme: $light-theme;
    }
    @else {
      $theme: $dark-theme;
    }

    // @debug $modeType $mode;
    // Set background & text colors
    $matBackgroundMap: map-get($theme, background);
    $matBackgroundMap: map_merge($matBackgroundMap, (background: $background));
    $theme: map_merge($theme, (background: $matBackgroundMap));


    

    // $mat-foreground: map-get($theme, foreground);
    // $call:mapSet($theme, background background, $background);
    // $call:mapSet($theme, foreground text, $text);
    // @debug $mode $background $text $theme;
    // @debug $theme;

    @include angular-material-theme($theme);
    @include sidenav-component-theme($theme);

    --mat: true;
    --mat-surface: #{$background};
    --mat-primary: #{mapGet($primary, 500)};
    --mat-accent: #{mapGet($accent, 500)};
    --mat-warn: #{mapGet($warn, 500)};


    // For testing color swatches
    // @include generateColorSwatch($primary, 'primary');
    // @include generateColorSwatch($accent, 'accent');
    // @include generateColorSwatch($warn, 'warn');
    // @include generateColorSwatch(generateColorMap(#3f51b5), 'indigo');

  }
}

@mixin generateColorSwatch($colPalette, $colorName) {
  @each $key, $value in $colPalette {
    @if type-of($value) == 'map' {
      @include generateColorSwatch($value, #{$colorName}-#{$key});
    }
    @else {
      --mat-#{$colorName}-#{$key}: #{$value};
    }
  }
}
