.mat-icon {
    font-size: 34px;
  }
      
  .servername{
    font-size:11px;
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 15, 16);
    margin-left:38px;
    margin-top: -18px;
}
      

@media (max-width: 991px) {
  app-settingmenu {
    margin: 0;
  }
}