<div class="FormHeadercontainer">
  <div class="gbformtitle">
    <app-gbformtitle class="gbformtitle1"></app-gbformtitle>
    <app-gbformselector class="gbformselector"></app-gbformselector>
    <app-gbformstatus class="gbformstatus"></app-gbformstatus>
  </div>
  <div class="gbformaction">
    <app-gbformactions></app-gbformactions>
  </div>
</div>
