@import './../../../styles/_utilities.scss';

.FormHeadercontainer {

  display: grid;
  grid-template-columns: 25% auto;
  grid-template-areas: 'title action';

  .gbformtitle {
    height: 43px;
    grid-area: title;

    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
  }

  .gbformaction{

    grid-area: action;
    margin: 2px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


@media (max-width: 650px){
  .FormHeadercontainer {
    display: grid;
    grid-template-columns: 50% auto;
  }
}

@media (max-width: 450px){
  .FormHeadercontainer {
    display: grid;
    grid-template-columns: 37% auto;
  }
}
