// ref: https://stackoverflow.com/questions/57287062/how-light-and-dark-versions-of-primary-colors-are-calculated-in-material-design
// ref: https://stackoverflow.com/questions/30870167/convert-colorprimary-to-colorprimarydark-how-much-darker
// ref: https://gka.github.io/chroma.js/
// ref: https://www.nixsensor.com/free-color-converter/
// ref: https://material.io/resources/color/#!/?view.left=0&view.right=0
// ref: https://www.sessions.edu/color-calculator/
// ref: https://www.canva.com/colors/color-wheel/
// ref: https://www.wordstream.com/blog/ws/2019/10/03/website-color-scheme
// ref: https://neilpatel.com/blog/website-color-scheme/
// ref: https://blog.hubspot.com/marketing/color-theory-design

// ref: https://blog.prototypr.io/how-to-design-a-dark-theme-for-your-android-app-3daeb264637

// @use "sass:list";
// @use "sass:meta";
// @use "sass:math";

$LAB_CONSTANTS: (
  Kn: 18,

  // D65 standard referent
  Xn: 0.950470,
  Yn: 1,
  Zn: 1.088830,

  t0: 0.137931034,  // 4 / 29
  t1: 0.206896552,  // 6 / 29
  t2: 0.12841855,   // 3 * t1 * t1
  t3: 0.008856452,  // t1 * t1 * t1
);

// Helpers
@function rgb_xyz($a) {
  $a: $a / 255;
  @if $a <= 0.04045 {
    @return $a / 12.92;
  }
  $a: math.pow(($a + 0.055) / 1.055, 2.4);
  @return $a;
}
@function xyz_lab($a) {
  // @debug a $a;
  @if $a > map-get($LAB_CONSTANTS, t3) { @return math.pow($a, 1 / 3); }
  @return $a / map-get($LAB_CONSTANTS, t2) + map-get($LAB_CONSTANTS, t0);
}
@function xyz_rgb($r) {
  @if $r <= 0.00304 { $r: 12.92 * $r; } @else { $r: 1.055 * math.pow($r, 1 / 2.4) - 0.055 }
  @return 255 * $r;
}
@function lab_xyz($t) {
  @if $t > map-get($LAB_CONSTANTS, t1) { $t: $t * $t * $t; } @else { $t: map-get($LAB_CONSTANTS, t2) * ($t - map-get($LAB_CONSTANTS, t0)); }
  @return $t;
}

// hex
@function hex2rgb($hexColor, $alpha: 1) {
  $list: ();
  $list: append($list, red($hexColor));
  $list: append($list, green($hexColor));
  $list: append($list, blue($hexColor));
  $list: append($list, $alpha);
  @return $list;
  @return #{red($hexColor)}, #{green($hexColor)}, #{blue($hexColor)};
}
@function rgb2hex($r, $g, $b, $alpha: 1) {
  @return rgba($r, $g, $b, $alpha);
}

// cmyk - cyan, magenta, yellow, black
@function cmyk2rgba($c, $m, $y, $k, $alpha: 1) {
  // $c: $c / 100;
  // $m: $m / 100;
  // $y: $y / 100;
  // $k: $k / 100;

  $r: 0; $g: 0; $b: 0;
  @if $k == 1 { @return rgb($r, $g, $b, $alpha); }

  // @debug calculating $c $m $y $k;
  @if $c >= 1 { $r: 0; } @else { $r: 255 * (1 - $c) * (1 - $k); }
  @if $m >= 1 { $g: 0; } @else { $g: 255 * (1 - $m) * (1 - $k); }
  @if $y >= 1 { $b: 0; } @else { $b: 255 * (1 - $y) * (1 - $k); }

  // @return rgba($r, $g, $b, $alpha);
  @return $r, $g, $b, $alpha;
}
@function rgb2cmyk($r, $g, $b, $alpha: 1) {
  // @debug kkk, $r, $g, $b;
  $r: $r / 255;
  $g: $g / 255;
  $b: $b / 255;
  // @debug kkk1, $r, $g, $b;

  $k: 1 - max($r, $g, $b);
  // @debug k $k;
  $f: 0;
  // @debug f1 $f;
  @if $k < 1 { $f: 1 / (1-$k); }
  // @debug f2 $f;
  $c: (1 - $r - $k) * $f;
  $m: (1 - $g - $k) * $f;
  $y: (1 - $b - $k) * $f;

  @return $c $m $y $k $alpha;
}
@function color2cmyk($col, $alpha: 1) {
  $rgb: hex2rgb($col);
  @return rgb2cmyk(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3), $alpha);
}
@function cmyk2color($c, $m, $y, $k, $alpha: 1) {
  $rgb: cmyk2rgba($c, $m, $y, $k, $alpha);
}

// xyz
@function rgb2xyz($r, $g, $b) {
  $r: rgb_xyz($r);
  $g: rgb_xyz($g);
  $b: rgb_xyz($b);
  // @debug $r, $g, $b;

  $x: xyz_lab((0.4124564 * $r + 0.3575761 * $g + 0.1804375 * $b) / map-get($LAB_CONSTANTS, Xn));
  $y: xyz_lab((0.2126729 * $r + 0.7151522 * $g + 0.0721750 * $b) / map-get($LAB_CONSTANTS, Yn));
  $z: xyz_lab((0.0193339 * $r + 0.1191920 * $g + 0.9503041 * $b) / map-get($LAB_CONSTANTS, Zn));

  @return $x $y $z;
}

// lab - Lightness, a, b
@function rgb2lab($r, $g, $b, $alpha: 1) {
  $xyz: rgb2xyz($r, $g, $b);
  $x: nth($xyz, 1);
  $y: nth($xyz, 2);
  $z: nth($xyz, 3);
  $l: 116 * $y - 16;
  @if $l < 0 { $l: 0; }
  $a: 500 * ($x - $y);
  $b: 200 * ($y - $z);
  @return $l $a $b $alpha;
}
@function lab2rgb($l, $a, $b, $alpha: 1) {
  $y: ($l + 16) / 116;
  $x: $y + $a / 500;
  $z: $y - $b / 200;

  $y: map-get($LAB_CONSTANTS, Yn) * lab_xyz($y);
  $x: map-get($LAB_CONSTANTS, Xn) * lab_xyz($x);
  $z: map-get($LAB_CONSTANTS, Zn) * lab_xyz($z);

  $r: xyz_rgb(3.2404542 * $x - 1.5371385 * $y - 0.4985314 * $z);  // D65 -> sRGB
  $g: xyz_rgb(-0.9692660 * $x + 1.8760108 * $y + 0.0415560 * $z);
  $b: xyz_rgb(0.0556434 * $x - 0.2040259 * $y + 1.0572252 * $z);

  @return $r, $g, $b, $alpha;
}
@function color2lab($col, $alpha: 1) {
  $rgb: hex2rgb($col, $alpha);
  @return rgb2lab(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3), $alpha);
}


// HSL
@function rgb2hsl($r, $g, $b) {
  $r: $r / 255;
  $g: $g / 255;
  $b: $b / 255;

  $min: min($r, $g, $b);
  $max: max($r, $g, $b);

  $l: ($min + $max) / 2;
  // @debug tttttttttt, $r, $g, $b, $min, $max, $l;

  $s: 0; $h: 0;
  @if $max == $min {
    $s: 0;
    $h: -1;
  }
  @else {
    @if $l < 0.5 {
      $s: ($max - $min) / ($max + $min);
    }
    @else {
      $s: ($max - $min) / (2 - $max - $min);
    }
  }

  @if $r == $max {
    $h: ($g - $b) / ($max - $min);
  }
  @else if $g == $max {
    $h: 2 + ($b - $r) / ($max - $min);
  }
  @else if $b == $max {
    $h: 4 + ($r - $g) / ($max - $min);
  }

  $h: $h * 60;
  @if $h < 0 { $h: $h + 360; }

  @return $h, $s, $l;
}
@function hsl2rgb($h, $s, $l) {
  $r: 0; $g: 0; $b: 0;
  @if $s == 0 {
    $r: $l * 255;
    $g: $l * 255;
    $b: $l * 255;
  }
  @else {
    $t3: 0,0,0;
    $c: 0,0,0;
    $t2: 0;
    @if $l < 0.5 { $t2: $l * (1 + $s); } @else { $t2: ($l + $s)-($l * $s) }
    $t1: 2 * $l - $t2;
    $h_: $h / 360;
    $t3: set-nth($t3, 1, $h_ + (1 / 3));
    $t3: set-nth($t3, 2, $h_);
    $t3: set-nth($t3, 3, $h_ - (1 / 3));
    @for $i from 1 through 3 {
      @if nth($t3, $i) < 0 { $t3: set-nth($t3, $i, nth($t3, $i) + 1); }
      @if nth($t3, $i) > 1 { $t3: set-nth($t3, $i, nth($t3, $i) - 1); }
      @if 6 * nth($t3, $i) < 1 {
        $c: set-nth($c, $i, $t1 + ($t2 - $t1) * 6 * nth($t3, $i));
      }
      @else if 2 * nth($t3, $i) < 1 {
        $c: set-nth($c, $i, $t2);
      }
      @else if 3 * nth($t3, $i) < 2 {
        $c: set-nth($c, $i, $t1 + ($t2 - $t1) * ((2 / 3) - nth($t3, $i)) * 6);
      }
      @else {
        $c: set-nth($c, $i, $t1);
      }
    }
    $r: round(nth($c, 1) * 255);
    $g: round(nth($c, 2) * 255);
    $b: round(nth($c, 3) * 255);
  }

  @return $r, $g, $b;
}
@function color2hsl($col) {
  $rgb: hex2rgb($col);
  @return rgb2hsl(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3));
}

@function lab_darken($color, $amt: 1, $alpha: 1) {
  $rgb: hex2rgb($color, $alpha);
  $lab: rgb2lab(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3), $alpha);
  $newLab: set-nth($lab, 1, nth($lab, 1) - (map-get($LAB_CONSTANTS, Kn) * $amt));
  $newrgb: lab2rgb(nth($newLab, 1), nth($newLab, 2), nth($newLab, 3));
  $newCol: rgb2hex(nth($newrgb, 1), nth($newrgb, 2), nth($newrgb, 3));
  @return $newCol;
}
@function lab_lighten($color, $amt: 1) {
  @return col_darken($color, -$amt);
}

@function col_complement($color) {
  @return complement($color);
}
@function col_monochromatic($color, $amount: 1, $stepby: 10%) {
  $amount: $amount * $stepby;
  @if $amount < 0 {
    @return lighten($color, $amount * - 1);
  }
  @else {
    @return darken($color, $amount);
  }
}
@function col_triadic($color, $amount: 1) {
  $amount: $amount * 120;
  @return adjust-color($color, $hue: $amount);
}
@function col_tetradic($color, $amount: 1) {
  $amount: $amount * 90;
  @return adjust-color($color, $hue: $amount);
}
@function col_analogous($color, $amount: 1, $harmony: 30) {
  $amount: $amount * $harmony;
  @return adjust-color($color, $hue: $amount);
}

@function getTextColor($bgColor, $forLightColor: black, $forDarkColor: white, $threshold: 65) {
  $hsl: color2hsl($bgColor);
  $lightness: lightness($bgColor);
  $retColor: $forDarkColor;
  @if $lightness > $threshold { $retColor: $forLightColor; }
  @return $retColor;
}
