@function testScripts() {
  $color: #8333d8; // rgba(131, 51, 216, 50%); // #8333d8;
  @debug('');
  @debug($color);
  @debug(lighten lighten($color, 50%));
  @debug(adjust-hue adjust-hue($color, 20%));
  @debug(rgb2hex rgb2hex(186, 51, 216));
  // @debug(complement complement($color));
  @debug(complement col_complement($color));
  @debug(monochromatic col_monochromatic($color));
  @debug(triadic1 col_triadic($color, 1));
  @debug(triadic2 col_triadic($color, 2));
  @debug(tetradic1 col_tetradic($color, 1));
  @debug(tetradic2 col_tetradic($color, 2));
  @debug(tetradic3 col_tetradic($color, 3));
  @debug(analogous col_analogous($color, 7));


  // $LOG_LEVEL: E;
  $call:debug( '');
  $t: #cc33ff;
  $call:debug( actual $t);
  $call:debug();

  $rgb: hex2rgb($t);
  $call:debug( hex2rgb $rgb);
  $hex: rgb2hex(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3));
  $call:debug( rgb2hex $hex);
  $call:debug();

  $rgba: rgb2cmyk(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3));
  $call:debug( rgb2cmyk $rgba);
  $cmyk: cmyk2rgba(nth($rgba, 1), nth($rgba, 2), nth($rgba, 3), nth($rgba, 4));
  $call:debug( cmyk2rgb $cmyk);
  $call:debug();

  $hsl: rgb2hsl(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3));
  $call:debug( rgb2hsl $hsl);
  $rgba2: hsl2rgb(nth($hsl, 1), nth($hsl, 2), nth($hsl, 3));
  $call:debug( hsl2rgb $rgba2);
  $call:debug();

  $xyz: rgb2xyz(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3));
  $call:debug( rgb2xyz $xyz);
  $lab: rgb2lab(nth($rgb, 1), nth($rgb, 2), nth($rgb, 3));
  $call:debug( rgb2lab $lab);
  $rgba1: lab2rgb(nth($lab, 1), nth($lab, 2), nth($lab, 3));
  $call:debug( lab2rgb $rgba);
  $call:debug();

  $dark: col_darken($t, 2.6);
  $call:debug( col_darken $dark);
  $light: col_lighten($t);
  $call:debug( col_lighten $light);
}

// $call:testScripts();
