@import url("https://fonts.googleapis.com/css?family=Helvetica");
@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.usersetting {
    //border:1px solid #bdbaba;
    background-color: #FFFFFF;
    height: 48px;
    border-radius: 8px;
}

.colors{
    outline-style: none;
}

.userHeader {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 4px;
    object-fit: contain;
    color: #666;
}

.btn-usersetting {
    outline-style: none;
}

.settings-open-dialog {
    outline-style: none;
}

.username {
    margin-top: -45px;
    margin-left: 55px;
    min-width: 80px;
    padding-right: 10px;
    height: 20px;
    font-weight: 700;
    color: var(--color);
    cursor: pointer;
}

.userdata{
    display: inline-block;
    margin-top: 2px;
}

.servername {
    margin-top: -15px;
    margin-left: 55px;
    min-width: 80px;
    height: 17px;
    cursor: pointer;
}


.matmenu {
    border-radius: 10px;
}

// @media (max-width: 450px) {
//     .username {
//         margin-top: -45px;
//     }
// }

@media (max-width: 450px) {
    .username{
        display: none;
    }

    .servername{
        display: none;
    }

    .usersetting{
        background-color: unset;
    }
}

::ng-deep.mat-menu-panel {
    border-radius: 8px !important;
}

::ng-deep.mat-menu-content:not(:empty) {
    padding: 0px;
}

::ng-deep .mat-menu-item {
    font-family: 'Helvetica' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    color: rgb(26,26,26,0.87) !important;    
}

::ng-deep .mat-menu-item:hover:not([disabled]),
 .mat-menu-item.cdk-program-focused:not([disabled]),
 .mat-menu-item.cdk-keyboard-focused:not([disabled]),
 .mat-menu-item-highlighted:not([disabled]) {
    background-color: var(--color) !important;
    color: #FFFFFF !important;
}