<div class="usersetting" border="thick solid #0000FF">
      <button  mat-icon-button [matMenuTriggerFor]="claimsmenu" class="btn-usersetting"><img class="userHeader" src="assets/icons/Avatar.png"></button>
      <ng-container *ngIf="loginDTOs$ | async as loginDTOs$">
        <p class="body-med-14-type-primary username">{{ loginDTOs$.UserName }}</p>
        <p class="caption-med-12-type-primary servername">{{loginDTOs$.DatabaseName}}</p>
      </ng-container>
      <!-- <p class="body-med-14-type-primary username" [matMenuTriggerFor]="claimsmenu" >{{(loginDTOs$ | async).UserName}}</p> -->
      <!-- <p class="caption-med-12-type-primary servername">{{(loginDTOs$ | async).DatabaseName}}</p> -->
      <mat-menu #claimsmenu="matMenu" [overlapTrigger]="false" class="matmenu">
        <button mat-menu-item class="colors" (mouseover)=changeimageSettingWhite() (mouseout)=changeimageSettingBlack()>
          <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgSettingSrc">
          <span class="userdata"> My Settings</span>
        </button>
        <button mat-menu-item (click)="openDialog()" class="settings-open-dialog colors " (mouseover)=changeimageThemeWhite() (mouseout)=changeimageThemeBlack()>
          <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgThemeSrc">
          <span class="userdata">Theme</span>
        </button>
        <button mat-menu-item class="colors" (mouseover)=changeimageTraceWhite() (mouseout)=changeimageTraceBlack()>
          <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgTraceSrc">
          <span class="userdata">Trace</span>
        </button>
        <button mat-menu-item class="colors" (mouseover)=changeimageLoggedInWhite() (mouseout)=changeimageLoggedInBlack()>
          <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgLoggedInSrc">
          <span class="userdata">Logged in Users</span>
        </button>
        <button mat-menu-item class="colors" (mouseover)=changeimageAboutWhite() (mouseout)=changeimageAboutBlack()>
          <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgAboutSrc">
          <span class="userdata">About</span>
        </button>
        <button mat-menu-item (click)="logout()" class="colors" (mouseover)=changeimageLogoutWhite() (mouseout)=changeimageLogoutBlack()>
          <img style="float: left; width: 22px; margin-right: 5px;" [src]="imgLogoutSrc">
          <span class="userdata">Logout</span>
        </button>
      </mat-menu>
</div>
    
