 <app-gbmenutree></app-gbmenutree>

 <!-- <ul class="mon-secondary">
  <br>
  <button class="forms" *ngIf="buttons" (click)="Forms()">Forms</button>
  <div class="icons" *ngIf="icons">
    <button mat-icon-button onmouseover="document.getElementById('div1').style.display = 'block';"
      onmouseout="document.getElementById('div1').style.display = 'none';">
      <mat-icon>tab</mat-icon>
    </button>
    <span>
      <div id="div1" class="ss mon-sixth" style="color: white;" onmouseover="document.getElementById('div1').style.display = 'block';"
        onmouseout="document.getElementById('div1').style.display = 'none';">
        <li><a [routerLink]="'GoodBooks/voucherlightbox'">Voucher Light Box</a></li>
        <li><a [routerLink]="'hrms/employee/id'">Employee</a></li>
        <li><a [routerLink]="'finance/cashbook/list'">Cash Book</a></li>
        <li><a [routerLink]="'hrms/additiondeduction/list'">Addition Deduction</a></li>
        <li><a [routerLink]="'inventory/stockpositionsummary/list'">Stock</a></li>
        <li><a [routerLink]="'inventory/lovtype'">Lov Type</a></li>
        <li><a [routerLink]="'GoodBooks/mmlightbox'">MM Light Box</a></li>
      </div>
    </span>
  </div> -->



 
<!-- 
 <mat-toolbar class="sidebar-toolbar">
  <div class="mon-sixth" style="border-radius: 5px;">
  <button mat-icon-button matTooltip="Application Menu" (click)="sidenav.toggle()" class="btn-sidebar-toolbar">
    <mat-icon>view_module</mat-icon> 
  </button>
</div>
  </mat-toolbar>

  <mat-divider></mat-divider>  
  
 -->

<!-- <mat-sidenav-container  class="sidenav-container" [ngClass]="themeClass$ | async">
  <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="sidenav">
      <mat-nav-list dense>
        <mat-list-item class="mon-sixth hrms"><mat-icon>keyboard_arrow_left</mat-icon>HRMS</mat-list-item>
        <mat-divider></mat-divider>  
        <mat-list-item routerLink="#" style="color:#23252e; font-size: 13px; font-weight: 700;"><mat-icon class="mon-sixth" style="border-radius: 5px;">dashboard</mat-icon>&nbsp;&nbsp;My Favorite</mat-list-item>
        <mat-divider></mat-divider>  

      first menu
  <mat-accordion>
     <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel">
            
            <mat-expansion-panel-header class="panel">
           
            <mat-list-item><mat-icon class="mon-quinary" style="border-radius: 5px;">home</mat-icon>&nbsp;&nbsp;Master</mat-list-item>
            </mat-expansion-panel-header>        

              <mat-nav-list dense class="nav-list">                  
                <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Activity Type</a>                
               </mat-nav-list>

               <mat-nav-list dense class="nav-list">                  
                <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Activity</a>
               </mat-nav-list>

               <mat-nav-list dense class="nav-list">                  
                <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Work Type</a>
               </mat-nav-list>

               <mat-nav-list dense class="nav-list">                  
                <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Project Type</a>
               </mat-nav-list>

               <mat-nav-list dense class="nav-list">                  
                <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Project</a>
               </mat-nav-list>
      
            </mat-expansion-panel>
            <mat-divider></mat-divider> -->

            <!-- Second menu -->
<!-- 
      <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel">
            
              <mat-expansion-panel-header class="panel">
              
              <mat-list-item><mat-icon style="border-radius: 5px;" class="mon-quinary">compare_arrows</mat-icon>&nbsp;&nbsp;Transaction</mat-list-item>
              </mat-expansion-panel-header>

                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Task</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Gantt</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Work Bench</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Task Generation</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Activity</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Simple Task</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Project Management</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Work Allotment</a>
                </mat-nav-list>
  
                <mat-nav-list dense class="nav-list">
                  <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Task Creation</a>
                </mat-nav-list>
            
              </mat-expansion-panel>
              <mat-divider></mat-divider> -->

            <!-- Third menu -->
     <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel">
            
                <mat-expansion-panel-header class="panel">
               
                <mat-list-item><mat-icon style="border-radius: 5px;" class="mon-quinary">description</mat-icon>&nbsp;&nbsp;Report</mat-list-item>
                </mat-expansion-panel-header>
    
              <mat-nav-list dense>
    
                  <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel2">
                  <mat-expansion-panel-header>
                    <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Summary</a>
                  </mat-expansion-panel-header>

                  <mat-nav-list dense class="nav-list-report">                  
                    <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Project work Summary</a>       
                   </mat-nav-list>

                   </mat-expansion-panel>
                   </mat-nav-list> -->


                 <!-- second phase-->               
            <!-- <mat-nav-list dense>
    
                   <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel2">
                   <mat-expansion-panel-header>
                     <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Register</a>
                   </mat-expansion-panel-header>

                   <mat-nav-list dense class="nav-list-report">                  
                     <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Daily Activity</a>                
                    </mat-nav-list>

                    </mat-expansion-panel>
                    </mat-nav-list> -->
                    
                    <!-- Third phase--> 
              <!-- <mat-nav-list dense>
    
                      <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel2">
                      <mat-expansion-panel-header>
                        <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Work</a>
                      </mat-expansion-panel-header>
   
                      <mat-nav-list dense class="nav-list-report">                  
                        <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Project Status</a>              
                       </mat-nav-list>
   
                       </mat-expansion-panel>
                       </mat-nav-list> -->
                    
                     
                     <!-- Fourth phase--> 
             <!-- <mat-nav-list dense>
    
                      <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel2">
                      <mat-expansion-panel-header>
                        <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Activity</a>
                      </mat-expansion-panel-header>
   
                      <mat-nav-list dense class="nav-list-report">                  
                        <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Work Completion</a>                
                       </mat-nav-list>
   
                       </mat-expansion-panel>
                       </mat-nav-list> -->


                     <!-- Fifth phase-->
             <!-- <mat-nav-list dense>
    
                        <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel2">
                        <mat-expansion-panel-header>
                          <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Visit</a>
                        </mat-expansion-panel-header>
     
                        <mat-nav-list dense class="nav-list-report">                  
                          <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Visit Plan</a>                
                         </mat-nav-list>
     
                         </mat-expansion-panel>
                         </mat-nav-list> -->


                         <!-- Sixth phase-->
                 <!-- <mat-nav-list dense>
    
                          <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel2">
                          <mat-expansion-panel-header>
                            <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Task</a>
                          </mat-expansion-panel-header>
       
                          <mat-nav-list dense class="nav-list-report">                  
                            <button><a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;Open Task</a></button>                
                           </mat-nav-list>
       
                           </mat-expansion-panel>
                           </mat-nav-list>


                   </mat-expansion-panel>  -->
                   <!--last closing -->                            
              <!-- <mat-divider></mat-divider>  -->

                  

                <!-- Fourth menu -->

         <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel">
            
                  <mat-expansion-panel-header class="panel">
                 
                  <mat-list-item><mat-icon style="border-radius: 5px;" class="mon-quinary">swap_vert</mat-icon>&nbsp;&nbsp;Others</mat-list-item>
                  </mat-expansion-panel-header>
      
                  <mat-nav-list dense class="nav-list">
                      <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;&nbsp;Classification</a>    
                  </mat-nav-list>
                  </mat-expansion-panel>
                  <mat-divider></mat-divider> -->

                  <!-- Five menu -->

           <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense class="menu-panel">
            
                    <mat-expansion-panel-header class="panel">
                    
                    <mat-list-item><mat-icon style="border-radius: 5px;" class="mon-quinary">bar_chart</mat-icon>&nbsp;&nbsp;Analysis</mat-list-item>
                    </mat-expansion-panel-header>
        
                    <mat-nav-list dense class="nav-list">
                        <a mat-list-item routerLink="#"><mat-icon class="mon-quinary" style="border-radius: 5px;">list_alt</mat-icon>&nbsp;&nbsp;Classification</a>
                      </mat-nav-list>
                    </mat-expansion-panel> 
                    <mat-divider></mat-divider>
                  </mat-accordion>
                  


      </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
 -->

 <!-- <ul [ngClass]="themeClass$ | async">
=======

  <ul [ngClass]="themeClass$ | async">
  <br>
  <button class="forms" *ngIf = "buttons" (click)="Forms()">Forms</button>
  <div class="icons" *ngIf = "icons">
    <button mat-icon-button onmouseover="document.getElementById('div1').style.display = 'block';" onmouseout="document.getElementById('div1').style.display = 'none';">
      <mat-icon>tab</mat-icon>
    </button>
      <span>
        <div id="div1" class="ss mon-eighth" onmouseover="document.getElementById('div1').style.display = 'block';" onmouseout="document.getElementById('div1').style.display = 'none';">
          <li><a [routerLink]="'sample/Dashboard'">Dashboard</a></li>
          <li><a [routerLink]="'inventory/Pack'">Pack</a></li>
          <li><a [routerLink]="'inventory/packset'">PackSet</a></li>
          <li><a [routerLink]="'inventory/UOM'">UOM</a></li>
          <li><a [routerLink]="'inventory/model'">Model</a></li>
          <li><a [routerLink]="'inventory/brand'">Brand</a></li>
          <li><a [routerLink]="'inventory/itemcategory'">Item Category</a></li>
          <li><a [routerLink]="'inventory/itemsubcategory'">Item Sub Category</a></li>
          <li><a [routerLink]="'hrms/employee'">Employeemaster</a></li>
          <li><a [routerLink]="'sample/permissionform'">permissionform</a></li>
          <li><a [routerLink]="'sample/attach'">Attach</a></li>     
          <li><a [routerLink]="'sample/approvallist'">approval</a></li>
          <li><a [routerLink]="'sample/entity'">Entitylookup</a></li>
          <li><a [routerLink]="'sample/PackNone'">PackNone</a></li>
          <li><a [routerLink]="'sample/PackServ'">PackService</a></li>
          <li><a [routerLink]="'sample/Packdbserv'">PackDb</a></li>
          <li><a [routerLink]="'sample/PackBoth'">PackBoth</a></li>
          <li><a [routerLink]="'sample/Profile'">Profile</a></li>
          <li><a [routerLink]="'sample/sales'">Sales</a></li>  
          <li><a [routerLink]="'sample/chart'">Chart</a></li>   
        </div>
      </span>
  </div>
  <div *ngIf = "formdisplay" class="mon-eighth">
    <li><a [routerLink]="'sample/Dashboard'">Dashboard</a></li>
    <li><a [routerLink]="'inventory/Pack'">Pack</a></li>
    <li><a [routerLink]="'inventory/packset'">PackSet</a></li>
    <li><a [routerLink]="'inventory/UOM'">UOM</a></li>
    <li><a [routerLink]="'inventory/model'">Model</a></li>
    <li><a [routerLink]="'inventory/brand'">Brand</a></li>
    <li><a [routerLink]="'inventory/itemcategory'">Item Category</a></li>
    <li><a [routerLink]="'inventory/itemsubcategory'">Item Sub Category</a></li>
    <li><a [routerLink]="'hrms/employee'">Employeemaster</a></li>
    <li><a [routerLink]="'sample/permissionform'">permissionform</a></li>
    <li><a [routerLink]="'sample/attach'">Attach</a></li>
    <li><a [routerLink]="'sample/approvallist'">approval</a></li>
    <li><a [routerLink]="'sample/entity'">Entitylookup</a></li>
    <li><a [routerLink]="'sample/PackNone'">PackNone</a></li>
    <li><a [routerLink]="'sample/PackServ'">PackService</a></li>
    <li><a [routerLink]="'sample/Packdbserv'">PackDb</a></li>
    <li><a [routerLink]="'sample/PackBoth'">PackBoth</a></li>
    <li><a [routerLink]="'sample/Profile'">Profile</a></li>
    <li><a [routerLink]="'sample/sales'">Sales</a></li>  
    <li><a [routerLink]="'sample/chart'">Chart</a></li>   
    <mat-divider></mat-divider> 
  </div>
  <br>
  <br>  -->




<!-- -------------------------------------------------------List----------------------------------------------------- -->
  <!-- <button class="forms" *ngIf = "buttons" (click)="Screen()">List</button>
  <div class="icons" *ngIf = "icons">
    <button mat-icon-button onmouseover="document.getElementById('div2').style.display = 'block';" onmouseout="document.getElementById('div2').style.display = 'none';">
      <mat-icon>description</mat-icon>
    </button>
      <span>
        <div id="div2" class="ss mon-eighth" onmouseover="document.getElementById('div2').style.display = 'block';" onmouseout="document.getElementById('div2').style.display = 'none';">
          <li><a [routerLink]="'inventory/Pack/list'">PackList</a></li>
          <li><a [routerLink]="'inventory/packset/list'">PacksetList</a></li>
          <li><a [routerLink]="'inventory/UOM/list'">UOMList</a></li>
          <li><a [routerLink]="'inventory/model/list'">Model List</a></li>
          <li><a [routerLink]="'sample/permissionlist'">permissionlist</a></li>
          <li><a [routerLink]="'inventory/brand/list'">Brand List</a></li>
          <li><a [routerLink]="'inventory/itemcategory/list'">Item Category List</a></li>   
          <li><a [routerLink]="'inventory/itemsubcategory/list'">Item Sub Category List</a></li>
          <li><a [routerLink]="'hrms/employee/list'">Employeelist</a></li>
          <li><a [routerLink]="'hrms/emp'">Employeetable</a></li>
          <mat-divider></mat-divider> 
        </div>
      </span>
  </div>
  <div *ngIf = "screendisplay" class="mon-eighth">
    <li><a [routerLink]="'inventory/Pack/list'">PackList</a></li>
    <li><a [routerLink]="'inventory/packset/list'">PacksetList</a></li>
    <li><a [routerLink]="'inventory/UOM/list'">UOMList</a></li>
    <li><a [routerLink]="'inventory/model/list'">Model List</a></li>
    <li><a [routerLink]="'sample/permissionlist'">permissionlist</a></li>
    <li><a [routerLink]="'inventory/brand/list'">Brand List</a></li>
    <li><a [routerLink]="'inventory/itemcategory/list'">Item Category List</a></li>   
    <li><a [routerLink]="'inventory/itemsubcategory/list'">Item Sub Category List</a></li>
    <li><a [routerLink]="'hrms/employee/list'">Employeelist</a></li>
    <li><a [routerLink]="'hrms/emp'">Employeetable</a></li>
    <mat-divider></mat-divider> 
  </div>
  <br>
  <br> -->





  
<!-- ---------------------------------------------------------------------Test--------------------------------------->
  <!-- <button class="forms" *ngIf = "buttons" (click)="Test()">Test</button>
  <div class="icons" *ngIf = "icons">
    <button mat-icon-button onmouseover="document.getElementById('div3').style.display = 'block';" onmouseout="document.getElementById('div3').style.display = 'none';">
      <mat-icon>settings_overscan</mat-icon>
    </button>
      <span>
        <div id="div3" onmouseover="document.getElementById('div3').style.display = 'block';" onmouseout="document.getElementById('div3').style.display = 'none';" class="ss mon-eighth">
          <li><a [routerLink]="'sample/themestest'">Themes Test</a></li>
          <li><a [routerLink]="'sample/mapdirection'">mapdirection</a></li>
          <li><a [routerLink]="'sample/mapgeoplotting'">mapgeoplotting</a></li>
          <li><a [routerLink]="'sample/mapcomponent'">mapcomponent</a></li>
          <li><a [routerLink]="'sample/geofencingcomponent'">geofencingcomponent</a></li>
          <li><a [routerLink]="'sample/rulesform'">Rules Form</a></li>
          <li><a [routerLink]="'sample/geolocationtest'">Geolocationtest</a></li>  
          <mat-divider></mat-divider> 
        </div>
      </span>
  </div>
  <div *ngIf = "testdisplay" class="mon-eighth">
    <li><a [routerLink]="'sample/themestest'">Themes Test</a></li>
    <li><a [routerLink]="'sample/mapdirection'">mapdirection</a></li>
    <li><a [routerLink]="'sample/mapgeoplotting'">mapgeoplotting</a></li>
    <li><a [routerLink]="'sample/mapcomponent'">mapcomponent</a></li>
    <li><a [routerLink]="'sample/geofencingcomponent'">geofencingcomponent</a></li>
    <li><a [routerLink]="'sample/rulesform'">Rules Form</a></li>
    <li><a [routerLink]="'sample/geolocationtest'">Geolocationtest</a></li>  
  </div>
</ul> -->